{% case site.cc_license_allow_modification %}

    {% when 'yes' %}
        {% if site.cc_license_allow_commercial_uses %}
            {% assign license_code = 'by' %}
            {% assign license_type_label = '署名' %}
        {% else %}
            {% assign license_code = 'by-nc' %}
            {% assign license_type_label = '知识共享署名-非商业性使用' %}
        {% endif %}

    {% when 'no' %}
        {% if site.cc_license_allow_commercial_uses %}
            {% assign license_code = 'by-nd' %}
            {% assign license_type_label = '署名-禁止演绎' %}
        {% else %}
            {% assign license_code = 'by-nc-nd' %}
            {% assign license_type_label = '知识共享署名-非商业性使用-禁止演绎' %}
        {% endif %}

    {% else %}
        {% if site.cc_license_allow_commercial_uses %}
            {% assign license_code = 'by-sa' %}
            {% assign license_type_label = '署名-相同方式共享' %}
        {% else %}
            {% assign license_code = 'by-nc-sa' %}
            {% assign license_type_label = '署名-非商业性使用-相同方式共享' %}
        {% endif %}

{% endcase %}

{% assign license_type_country = '国际许可协议' %}

{% case site.cc_license_icon %}
    {% when 'normal' %}
        {% assign license_img_size = '88x31' %}
    {% else %}
        {% assign license_img_size = '88x15' %}
{% endcase %}

{% capture license_href %}http://creativecommons.org/licenses/{{ license_code }}/4.0/deed.zh{% endcapture %}
{% capture license_img %}http://i.creativecommons.org/l/{{ license_code }}/4.0/{{ license_img_size }}.png{% endcapture %}
{% capture license_type %}{{ license_type_label }} 4.0 {{ license_type_country }}{% endcapture %}

<div class="cc-license">
    <a rel="license" href="{{ license_href }}">
        <img alt="{{ license_type }}" src="{{ license_img }}" />
    </a><br />
    原文地址：<a href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a><br />
    版权声明：本作品采用<a rel="license" href="{{ license_href }}">{{ license_type }}</a>进行许可。
</div>
