<!-- 添加捐赠图标 -->
    <div class ="post-donate">
      <div id="donate_board" class="donate_bar">
        <a id="btn_donate" href="javascript:;" title="Donate 打赏"></a>
        <span class="donate_txt">
           &uarr;<br>
           赏杯咖啡，持续写作      
        </span>
        <br>
      </div>  
  
    <!-- 支付宝打赏图案 -->
      <div class="donate_guide donate_bar hidden">
          <img src="{{ site.donate_wechat_image_link }}" title="支付宝打赏" >
      </div>

    <!-- 微信打赏图案 -->
      <div class="donate_guide donate_bar hidden">
          <img src="{{ site.donate_alipay_image_link }}" title="微信打赏">
      </div>
  
      <script type="text/javascript">
        document.getElementById('btn_donate').onclick = function(){
          $('#donate_board').addClass('hidden');
          $('.donate_guide').removeClass('hidden');
        }
      </script>
    </div>
<!-- 添加捐赠图标 -->